/* Sidebar */
.list-group-item {
    background-color: white; 
    color: black;
    transition: background-color 0.3s ease;
}
.list-group-item-dt{
    background-color: white; 
    color: black;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.list-group-item:hover {
    background-color: #FB9759;
    color:white;
}

/* top space*/
.top-space{
    margin-top: 10px;
}
/* live token search suggestion */
.suggestion-link {
    text-decoration: none;
    color: inherit;
}

.suggestion-link:hover {
    text-decoration: none;
    color: #007bff; 
}

.backgroundLoky{
    background-color: #FB9759;
    color:white;   
    border: #FB9759;
}

.backgroundLoky:hover{
    transition: background-color 0.3s ease;
    background-color: black;
    color:white;   
}
.textLoky{
    color: #FB9759;
}

.textLoky:hover{
    color: black;
}

.nav-link.active {
    background-color: #FB9759;
    color: white;
    border-radius: 10px;
}