{% load static %}
<div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
    <div class="hpanel responsive-mg-b-30">
        <div class="panel-body">
            <ul class="mailbox-list">
                <img src="{% static 'img/advert2.jpg' %}" class="img-fluid" alt="Place Your Advert">
            </ul>
            <hr>
            <ul class="mailbox-list">
                <img src="{% static 'img/advert1.png' %}" class="img-fluid" alt="Place Your Advert">
            </ul>
        </div>
    </div>
</div>