{% extends 'base.html' %}
{% load static %}
{% block title %}Donate to LOKY{% endblock title %}
{% block content %}
<div class="container my-5">
    <div class="text-center">
        <h1>Support LOKY with Your Donations</h1>
        <p>Your contributions help us keep the platform running and improve our services.</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 text-center">
            <h3>Bitcoin (BTC)</h3>
            <p>Wallet Address: <code>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</code></p>
            <img src="{% static 'img/bitcoin_qr.png' %}" alt="Bitcoin QR Code" class="img-fluid">
        </div>
        <div class="col-md-4 text-center">
            <h3>Ethereum (ETH)</h3>
            <p>Wallet Address: <code>0x32Be343B94f860124dC4fEe278FDCBD38C102D88</code></p>
            <img src="{% static 'img/ethereum_qr.png' %}" alt="Ethereum QR Code" class="img-fluid">
        </div>
        <div class="col-md-4 text-center">
            <h3>Litecoin (LTC)</h3>
            <p>Wallet Address: <code>LLv4VLN5vE9wv1io4MTsEJbgh2X9VxyNQX</code></p>
            <img src="{% static 'img/litecoin_qr.png' %}" alt="Litecoin QR Code" class="img-fluid">
        </div>
    </div>
</div>
{% endblock content %}
