{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block og_title %}Lucky-AI{% endblock %}
{% block og_description %}AI-powered platform for DYOR (Do Your Own Research) in crypto space. Your gateway to cryptocurrency insights and maximized profits {% endblock %}
{% block og_image %}{% static 'favicon/android-icon-144x144.png' %}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}

{% block content %}
    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcome-heading">
                                    <img src="{% static 'img/placeadvert.png' %}" class="img-fluid" style="height: fit-content;" alt="Place Your Advert">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul class="breadcome-menu">
                                    <li> <a href="{% url 'home' %}">Home</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="admintab-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="analytics-sparkle-area mb-4">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h3> Overview Of Crypto Data Analysis </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="analytics-sparkle-line reso-mg-b-30">
                                        <div class="analytics-content">
                                            <h5><a href="{% url 'bitcoin_sentiment' %}">Sentiment Analysis </a></h5>
                                            <div class="progress m-b-0">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:20%;"> <span class="sr-only">20% Complete</span> </div>
                                            </div>
                                            <a href="{% url 'bitcoin_sentiment' %} mt-4">View Details </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="analytics-sparkle-line reso-mg-b-30">
                                        <div class="analytics-content">
                                            <h5><a href="{% url 'token_analyis' 'btc' %}">Token Analysis </a></h5>                                            
                                            <div class="progress m-b-0">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:30%;"> <span class="sr-only">230% Complete</span> </div>
                                                
                                            </div>
                                            <a href="{% url 'token_analyis' 'btc' %}">View Details </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30">
                                        <div class="analytics-content">
                                            <h5><a href="{% url 'anomaly_list' %}"> Anomaly Analysis</a></h5>
                                            <div class="progress m-b-0">
                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%;"> <span class="sr-only">20% Complete</span> </div> 
                                            </div>
                                            <a href="{% url 'anomaly_list' %}">View Details </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="analytics-sparkle-line table-mg-t-pro dk-res-t-pro-30">
                                        <div class="analytics-content">
                                            <h5><a href="{% url 'risk_assessment' %}">Risk Assessment </a></h5>
                                            <div class="progress m-b-0">
                                                <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:80%;"> <span class="sr-only">230% Complete</span> </div>
                                            </div>
                                            <a href="{% url 'risk_assessment' %}">View Details </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-sales-area mg-tb-30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h3> Overview Of Cryptocurrencies News </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="white-box">
                                        <iframe width="100%" scrolling="yes" allowtransparency="true" frameborder="0" src="https://cryptopanic.com/widgets/news/?bg_color=FFFFFF&amp;font_family=sans&amp;header_bg_color=30343B&amp;header_text_color=FFFFFF&amp;link_color=F2A704&amp;news_feed=recent&amp;posts_limit=10&amp;text_color=333333&amp;title=Latest%20News" height="600px"></iframe>                                     
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="white-box res-mg-t-30 table-mg-t-pro-n">
                                        <iframe width="100%" scrolling="yes" allowtransparency="true" frameborder="0" src="https://cryptopanic.com/widgets/news/?bg_color=FFFFFF&amp;font_family=sans&amp;header_bg_color=30343B&amp;header_text_color=FFFFFF&amp;link_color=762FE6&amp;news_feed=trending&amp;posts_limit=10&amp;text_color=333333&amp;title=Trending%20News" height="600px"></iframe>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'advert_section.html' %}
            </div>
        </div>
    </div>
{% endblock content %}
