{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="row top-space">
        <div class="col-sm-4">
            <div class="card text-white bg-success">
                <div class="card-body">
                <h5 class="card-title">Coins With Highest Sentiment Analysis</h5>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td> <img src=""/> </td>
                            <td> Bitcoin (BTC) </td>
                            <td> 78%</td>
                        </tr>
                    </table>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Popular Token Analysis</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td> <img src=""/> </td>
                                <td> Bitcoin (BTC) </td>
                                <td> 78%</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-danger">
                <div class="card-body">
                    <h5 class="card-title">Coins With lowest Sentiment Analysis</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td> <img src=""/> </td>
                                <td> Bitcoin (BTC) </td>
                                <td> $78000</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row top-space">
        <div class="col-sm-4">
            <div class="card text-white bg-warning">
                <div class="card-body">
                    <h5 class="card-title">Latest Anomaly Detection</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td> <img src=""/> </td>
                                <td> Bitcoin (BTC) </td>
                                <td> 78%</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-success">
                <div class="card-body">
                <h5 class="card-title">Coins With Highest Price Prediction</h5>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td> <img src=""/> </td>
                            <td> Bitcoin (BTC) </td>
                            <td> 78%</td>
                        </tr>
                    </table>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Popular Cryptocurrencies</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td> <img src=""/> </td>
                                <td> Bitcoin (BTC) </td>
                                <td> 78%</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}