{% extends 'base.html' %}
{% block title %}Token Analysis{% endblock title %}
{% block content %}
<div class="container">
    <!-- Search for crypto currencies BTC, ADA, the search should be responsive by suggesting crypto, then click on each each should lead the sentiment analysis of the crypto selected -->
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text backgroundLoky"><i class="fas fa-search" style="font-size: 25px;"></i></div>
                    </div>
                    <input type="text" class="form-control inputfocus" id="inlineFormInputGroup" placeholder="search for Cryptocurrencies">
                </div>
                <ul id="suggestions" class="list-group"></ul>
            </div>
        </div>
    </form>
    <!-- TAB THAT LIST DIFFERENT SENTIMENT ANALYSIS  -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active textLoky" data-bs-toggle="tab" href="#home">Token Analysis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link textLoky" data-bs-toggle="tab" href="#menu1">Features Analysis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link textLoky" data-bs-toggle="tab" href="#menu2">Community Analysis</a>
        </li>
       
    </ul>
    
    <div class="tab-content mt-4">
        <div id="home" class="tab-pane fade show active">
           

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>How do I study a cryptocurrency project before investing. </strong>  <button type="button" class="btn btn-primary backgroundLoky" data-bs-toggle="modal" data-bs-target="#exampleModal"> Check It Now </button>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <h1 class="mt-3">Token Analysis for {{ token.name }} ({{ token.symbol }}) </h1><hr/>
           
            <div class="row">              
                <ul class="list-group list-group-flush">                   
                    <h3>Votes & Subscibers</h3>
                    <li class="list-group-item">
                        <button type="button" class="btn "> Sentiment Vote Up : {{token.sentiment_votes_up}} </button>
                        <button type="button" class="btn"> Sentiment Vote Down : {{token.sentiment_votes_down}} </button>
                        <button type="button" class="btn"> Facebook Likes : {{token.facebook_likes}}</button>
                        <button type="button" class="btn"> Twitter Subscribers: {{token.twitter_followers}} </button>
                        <button type="button" class="btn"> Reddit Subscribers: {{token.reddit_subscribers}} </button>
                        <button type="button" class="btn"> Telegram Subscribers: {{token.telegram_channel}} </button>
                    </li>
                    <h3>Githubs & Performance</h3>
                    <li class="list-group-item">
                        <button type="button" class="btn "> Fork : {{token.forks}} </button>
                        <button type="button" class="btn"> Star : {{token.star}} </button>
                        <button type="button" class="btn"> Total Issues : {{token.total_issues}}</button>
                        <button type="button" class="btn"> Total Subscribers: {{token.subscribers}} </button>
                    </li>
                    <li class="list-group-item">
                        <h3>Description</h3>
                        <p>{{token.description}}</p>
                    </li>
                    <h3>Official Communication platform</h3>
                    <li class="list-group-item">
                        <a href="{{ token.website }}" target="_blank" class="btn btn-primary backgroundLoky"> Website </a>
                        <a href="{{ token.whitepaper }}" target="_blank" class="btn btn-primary backgroundLoky"> Whitepaper </a>
                        <a href="{{ token.official_forum }}" target="_blank" class="btn btn-primary backgroundLoky"> Official Forum </a>
                        <a href="{{ token.announcement }}" target="_blank" class="btn btn-primary backgroundLoky">  Announcement </a>
                        <a href="{{ token.twitter }}" target="_blank" class="btn btn-primary backgroundLoky"> Twitter </a>
                        <a href="{{ token.telegram }}" target="_blank" class="btn btn-primary backgroundLoky"> Telegram </a>
                        <a href="{{ token.reddit }}" target="_blank" class="btn btn-primary backgroundLoky"> Reddit </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h1>Feature Analysis  <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary backgroundLoky" data-bs-toggle="modal" data-bs-target="#featureAnalysis">
                    ?
                </button></h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-row align-items-center">
                    <select name="aspect" class="form-control">
                        <option>-- Select One Feature --</option>
                        <option value="whitepaper">Whitepaper</option>
                        <option value="team">Team Background</option>
                        <option value="technology">Technology</option>
                        <option value="partnerships">Partnerships</option>
                        <option value="roadmap">Roadmap</option>
                    </select><br>
                    <textarea name="document" rows="10" class="form-control" cols="50">Enter Description</textarea><br>
                   
                    <button type="submit" class="btn backgroundLoky">Analyze</button>
                </div>
            </form>
           
        </div>
        <div id="menu2" class="tab-pane fade">
            <a href='{% url "sentiment_analysis" token.symbol %}' class="btn btn-primary backgroundLoky"> Sentiment Analysis
            </a>
           
        </div>
      
      
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">How do I study a cryptocurrency project before investing ?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Identifying a crypto project involves evaluating various factors and aspects to understand its legitimacy, potential, and overall quality.
                    Here are some key elements and tips that crypto traders can consider when evaluating a crypto project:
                </p>
                <p>
                    <b> 1. Whitepaper Evaluation </b>
                    
                </p>
                <p>
                    <b> 2. Team Background </b>
                </p>
                <p>
                    <b> 3. Technology and Innovation </b>
                </p>
                <p>
                    <b> 4. Partnerships and Collaborations </b>
                </p>
                <p>
                    <b> 5. Community Feedback and Sentiment</b>
                </p>
                <p>
                    <b>6. Market Position and Competitors</b>
                </p>  
                <p>
                    <b>7. Regulatory Compliance</b>
                </p>  
                <p>
                    <b>8. Security Measures</b>
                </p>  
                <p>
                    <b>9. Historical Performance</b>
                </p>  
                <p>
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <strong> LOKY AI-based model has been trained to provide an accurate whitepaper analysis, technology analysis and partnership analysis. Community Feedback and Sentiment have already been handled in our sentiment analysis</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn backgroundLoky" data-bs-dismiss="modal">I Understand</button>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="featureAnalysis" tabindex="-1" aria-labelledby="featureAnalysisLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="featureAnalysisLabel">Feature Analysis</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
                Identifying a crypto project involves evaluating various factors and aspects to understand its legitimacy, potential, and overall quality.
                Here are some key elements and tips that crypto traders can consider when evaluating a crypto project:
            </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn backgroundLoky" data-bs-dismiss="modal">I Understand</button>
        </div>
    </div>
    </div>
</div>
</div>

{% endblock content %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#inlineFormInputGroup').on('keyup', function() {
            var query = $(this).val();
            if (query) {
                $.ajax({
                    url: '{% url "token_search" %}',
                    data: {
                        'query': query
                    },
                    dataType: 'json',
                    success: function(data) {
                        $('#suggestions').empty();
                        $.each(data, function(key, value) {
                            var link = '{% url "token_analyis" "SYMBOL_PLACEHOLDER" %}'.replace('SYMBOL_PLACEHOLDER', value.symbol);
                            $('#suggestions').append('<li class="list-group-item"><a class="suggestion-link" href="' + link + '">' + value.name + ' (' + value.symbol + ')</a></li>');
                        });
                    },
                });
            } else {
                $('#suggestions').empty();
            }
        });
    });
    </script>
{% endblock scripts %}
